@media screen and (max-width: 600px) {
    body {
        font-size: 13px;
    }

    #container {
        width: 313px;
        height: 313px;
    }

    p {
        font-size: 6px;
    }

    #canvas {
        width: 313px;
        height: 313px;
    }

    #level_num {
        font-size: 9px;
    }

    #button-start {
        font-size: 11px;
    }

    #controls p {
        font-size: 10px;
    }
}