.tank_player1_up_c0_t1, .tank_player1_up_c0_t2, .tank_player1_right_c0_t1, .tank_player1_right_c0_t2, .tank_player1_left_c0_t1, .tank_player1_left_c0_t2, .tank_player1_down_c0_t1, .tank_player1_down_c0_t2, .tank_power_up_c0_t1, .tank_power_up_c0_t2, .tank_power_right_c0_t1, .tank_power_right_c0_t2, .tank_power_left_c0_t1, .tank_power_left_c0_t2, .tank_power_down_c0_t1, .tank_power_down_c0_t2, .tank_fast_up_c0_t1, .tank_fast_up_c0_t2, .tank_fast_right_c0_t1, .tank_fast_right_c0_t2, .tank_fast_left_c0_t1, .tank_fast_left_c0_t2, .tank_fast_down_c0_t1, .tank_fast_down_c0_t2, .bullet_up, .bullet_right, .bullet_down, .bullet_left, .wall_brick, .wall_steel, .trees, .border, .base, .base_destroyed, .bullet_explosion_1, .bullet_explosion_2, .bullet_explosion_3, .big_explosion_1, .big_explosion_2, .big_explosion_3, .big_explosion_4{
	background: url(sprites.png) no-repeat;
}

.tank_player1_up_c0_t1{
	background-position: 0 0;
	width: 32px;
	height: 32px;
}

.tank_player1_up_c0_t2{
	background-position: -35px 0;
	width: 32px;
	height: 32px;
}

.tank_player1_right_c0_t1{
	background-position: -70px 0;
	width: 32px;
	height: 32px;
}

.tank_player1_right_c0_t2{
	background-position: -105px 0;
	width: 32px;
	height: 32px;
}

.tank_player1_left_c0_t1{
	background-position: -210px 0;
	width: 32px;
	height: 32px;
}

.tank_player1_left_c0_t2{
	background-position: -245px 0;
	width: 32px;
	height: 32px;
}

.tank_player1_down_c0_t1{
	background-position: -140px 0;
	width: 32px;
	height: 32px;
}

.tank_player1_down_c0_t2{
	background-position: -175px 0;
	width: 32px;
	height: 32px;
}

.tank_power_up_c0_t1{
	background-position: 0 -40px ;
	width: 32px;
	height: 32px;
}

.tank_power_up_c0_t2{
	background-position: -35px -40.00001525878906px ;
	width: 32px;
	height: 32px;
}

.tank_power_right_c0_t1{
	background-position: -70px -40px ;
	width: 32px;
	height: 32px;
}

.tank_power_right_c0_t2{
	background-position: -105px -40.00001525878906px ;
	width: 32px;
	height: 32px;
}

.tank_power_left_c0_t1{
	background-position: -210px -40px ;
	width: 32px;
	height: 32px;
}

.tank_power_left_c0_t2{
	background-position: -245px -40.00001525878906px ;
	width: 32px;
	height: 32px;
}

.tank_power_down_c0_t1{
	background-position: -140px -40.00001525878906px ;
	width: 32px;
	height: 32px;
}

.tank_power_down_c0_t2{
	background-position: -175px -40.00001525878906px ;
	width: 32px;
	height: 32px;
}

.tank_fast_up_c0_t1{
	background-position: 0 -80.00001525878906px ;
	width: 32px;
	height: 32px;
}

.tank_fast_up_c0_t2{
	background-position: -35px -80.00001525878906px ;
	width: 32px;
	height: 32px;
}

.tank_fast_right_c0_t1{
	background-position: -70px -80.00001525878906px ;
	width: 32px;
	height: 32px;
}

.tank_fast_right_c0_t2{
	background-position: -105px -80.00001525878906px ;
	width: 32px;
	height: 32px;
}

.tank_fast_left_c0_t1{
	background-position: -210px -80.00001525878906px ;
	width: 32px;
	height: 32px;
}

.tank_fast_left_c0_t2{
	background-position: -245px -80.00001525878906px ;
	width: 32px;
	height: 32px;
}

.tank_fast_down_c0_t1{
	background-position: -140px -80.00001525878906px ;
	width: 32px;
	height: 32px;
}

.tank_fast_down_c0_t2{
	background-position: -175px -80.00001525878906px ;
	width: 32px;
	height: 32px;
}

.bullet_up{
	background-position: 0 -120px ;
	width: 8px;
	height: 8px;
}

.bullet_right{
	background-position: -15px -120px ;
	width: 8px;
	height: 8px;
}

.bullet_down{
	background-position: -30px -120.00001525878906px ;
	width: 8px;
	height: 8px;
}

.bullet_left{
	background-position: -45px -120.00001525878906px ;
	width: 8px;
	height: 8px;
}

.wall_brick{
	background-position: -75px -120.00001525878906px ;
	width: 16px;
	height: 16px;
}

.wall_steel{
	background-position: -100px -120px ;
	width: 16px;
	height: 16px;
}

.trees{
	background-position: -150px -120px ;
	width: 32px;
	height: 32px;
}

.border{
	background-position: -125px -120px ;
	width: 16px;
	height: 16px;
}

.base{
	background-position: -200px -120.00001525878906px ;
	width: 32px;
	height: 32px;
}

.base_destroyed{
	background-position: -240px -120.00001525878906px ;
	width: 32px;
	height: 32px;
}

.bullet_explosion_1{
	background-position: 0 -140.00001525878906px ;
	width: 32px;
	height: 32px;
}

.bullet_explosion_2{
	background-position: -35px -140.00001525878906px ;
	width: 32px;
	height: 32px;
}

.bullet_explosion_3{
	background-position: -70px -140.00001525878906px ;
	width: 32px;
	height: 32px;
}

.big_explosion_1{
	background-position: 0 -180.00001525878906px ;
	width: 64px;
	height: 64px;
}

.big_explosion_2{
	background-position: -70px -180px ;
	width: 64px;
	height: 64px;
}

.big_explosion_3{
	background-position: -140px -180px ;
	width: 64px;
	height: 64px;
}

.big_explosion_4{
	background-position: -210px -180px ;
	width: 64px;
	height: 64px;
}

